p{
    font-size:0.9375rem;
    padding:0 5%;
    color:hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
}
h3{

    font-size:1rem;
    padding:0 5%;
    font-family: 'Outfit', sans-serif;
    line-height:1.5rem;
}
.b5-container-fluid{
    background-color:hsl(212, 45%, 89%);
    padding-top:5%;
    padding-bottom:5%;
    text-align:center;
}

.all-items{
    border-radius: 5%;
    background-color:white;
    padding-bottom:3%;
    margin:0 40%;
}
.bar-code-image{
    border-radius:5%;
    width: 90%;
    margin-top:10px; 
}

@media only screen and (max-width:375px) and (min-width:320px){    
   
    .all-items{
       margin:0 15%;
    }
}

@media only screen and (max-width:500px) and (min-width:375px){    
   
    .all-items{
       margin:0 20%;
    }
}

@media only screen and (max-width:700px) and (min-width:500px){    
   
    .all-items{
       margin:0 25%;
    }
}
@media only screen and (max-width:900px) and (min-width:700px){    
   
    .all-items{
       margin:0 30%;
    }
}

@media only screen and (max-width:1200px) and (min-width:900px){    
   
    .all-items{
       margin:0 35%;
    }
}